<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Sora:wght@200;300&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="css/style.css" class="style css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid&family=Roboto+Mono:wght@300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
     <title>Augur</title>
</head>
<body>
  <nav>
    <div class="span">
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
     </a>
     <img src="./img/augur.png" alt="">
    </div>
     <div class="navbar-link">
    <ul>
        <!-- <li></li> -->
        <li><a href="#home">Home</a></li>
        <li><a  href="#about">About</a></li>
        <li><a  href="#problem">Problem</a></li>
        <li><a  href="#solution">Solution</a></li>
        <li><a  href="#team">Team</a></li>
        <li><a  href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
<div class="box"></div>
    <div class="container">
     <div id="home">
        <!-- <h1 data-text ="Welcome to our service">Welcome to our service</h1> -->
        <div class="wrapper">
          <ul class="dynamic-txts">
            <li><span>"You don't build a business, you build people, then people build the business." ~ Zig Ziglar</span></li>
            <li><span>"A company is only as good as the people it keeps." ~ Mary Kay Ash</span></li>
          </ul>
        </div>
        <div id="qoute">
        <!-- <p id="qoute1">"You don't build a business, you build people, then people build the business." ~ Zig Ziglar
        </p> -->
        <!-- <p id="qoute2">"A company is only as good as the people it keeps." ~ Mary Kay Ash 
        </p> -->
         </div>
     </div>
     <div id="about">
      <h1>About</h1>
        <div id="content">
          <p>Managing people is a task. But not anymore. Keeping your employees happy is as important as keeping the customers satisfied. But how? Augur's services help you organise your team and find a correlation between individual demands of employees and the goals a company have. Now, it's a click away to get your company to high heights. </p>
          <img  id="homeImg" src="./img/employee.jfif" alt="Employee">
        </div>
      </div>
     <div id="problem">
        <h1>Welcome to our service</h1>
        <p>Lorem ipsum doloror sit, amet consectetur adipisicing elit. 
            Ea vel minus,jhgggggggggggggggggggggggggggggamnque vitae quis nulla suscipit ab fugit facere? 
            Cupiditate facilis explicab sit, amet consectetur adipisicing elit. 
            Ea vel minus,jhgggggggggggggggggggggggggggggamnque vitae quis nulla suscipit ab fugit facere? 
            Cupiditate facilis explicabo quos doloribus incidunt? Animi sint ipsa ducimus maxime!</p>
     </div>
     <div id="solution">
       <div class="SolText">
        <h1>Solution</h1>
      <p><span>STEP 1: </span>Analysising why employees are leaving.</p>
      <p><span>STEP 2: </span>Consulting with Augur's Team.</p>
      <p><span>STEP 3: </span>Never be worried about employees leaving your company.</p>
    </div>
    <div class="predict">
      <input type="text" placeholder="age" name="age" id="age">
      <input type="text" placeholder="extraversion" name="extraversion" id="extraversion">
      <input type="text" placeholder="independ" name="independ" id="independ">
      <input type="text" placeholder="novator" name="novator" id="novator">
      <input type="text" placeholder="gender" name="gender" id="gender">
      <input type="text" placeholder="industry" name="industry" id="industry">
      <input type="text" placeholder="profession" name="profession" id="profession">
      <input type="text" placeholder="head_gender" name="head_gender" id="head_gender">
      <input type="text" placeholder="way" name="way" id="way">
      <input type="text" placeholder="greywage" name="greywage" id="greywage">
      <button type="submit">predict</button>
    </div>
    </div>
     <div id="team">
        
        <h1>Meet our team</h1>
        <p>“Talent wins games, but teamwork and intelligence win championships.” -Michael Jordan</p>
        <div id="card">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="flipImg" src="./img/siddhi.jpg" alt="Avatar">
              </div>
              <div class="flip-card-back">
               <h3>Siddhi Gupta</h3>
               <br>
               <hr>
               <br>
                <p>UI\UX Design & Data Science</p> 
                <div class="icon">
                    <a href="https://github.com/siddhiiguptaa"><img src="./img/logo-github.svg" alt=""></a>
                    <a href="https://www.linkedin.com/in/siddhigupta/"> <img src="./img/logo-linkedin.svg" alt=""></a>
                    <a href="https://twitter.com/Sandhya06286768"><img src="./img/logo-twitter.svg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="flipImg" src="./img/sandhya.jpg" alt="Avatar">
              </div>
              <div class="flip-card-back">
                <h3>Sandhya Kumari</h3>
                <br>
                <hr>
                <br>
                 <p>Web Development </p> 
                 <div class="icon"  id="sandhya">
                     <a href="https://github.com/Sandhya312"><img src="./img/logo-github.svg" alt=""></a>
                     <a href="https://www.linkedin.com/in/sandhyakumarii/"> <img src="./img/logo-linkedin.svg" alt=""></a>
                     <a href="https://twitter.com/Sandhya06286768"><img src="./img/logo-twitter.svg" alt=""></a>
                 </div>
                
              </div>
            </div>
          </div>
        </div>
     </div>
     <div id="contact">
         <div class="heading">Get an appointment today!</div>
          <div id="contactForm">
            <form onclick= "document.location =  'mailto:sandhyakumari3122003@gmail.com' ">
            <div class="nameSection">
              <h2>Your Name</h2>
              <input type="text"> 
            </div>
            <div class="email">
              <h2>Your Email</h2>
              <input type="text">
            </div>
            <div class="message">
              <h2>Your Message</h2>
              <textarea name="message" id="txtarea" cols="30" rows="10"></textarea>
            </div>
            <button  type="submit">Send</button>
          </form>
            
          </div>
    </div>
<footer>
  <div class="row1">
    <div class="fAbout">
      <h1>About</h1>
    </div>
    <div class="link">
      <div class="link1"><img src="./img/chevron-forward.svg" alt="">
      <a href="#home">Home</a></li>
      </div>
      <div class="link2"><img src="./img/chevron-forward.svg" alt="">
      <a href="#about">About</a>
      </div>
      <div class="link3"><img src="./img/chevron-forward.svg" alt="">
      <a href="#problem">Problem</a>
      </div>
      <div class="link4"><img src="./img/chevron-forward.svg" alt="">
      <a href="#solution">solution</a>
      </div>
      <div class="link5"><img src="./img/chevron-forward.svg" alt="">
      <a href="#team">Team</a>
      </div>
      <div class="link6"><img src="./img/chevron-forward.svg" alt="">
      <a href="#contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="img">
      <img src="./img/heart.svg" alt="heart" class="heart">
      <img src="./img/heart.svg" alt="heart" class="heart">
    </div>
      <p class="copyright">Copyright 2022 RS2 Team</p>
  </div>
</footer>
<script>
  const toggleButton= document.getElementsByClassName('toggle-button')[0];
const navbarlinks = document.getElementsByClassName('navbar-link')[0];
toggleButton.addEventListener('click', () => {
  navbarlinks.classList.toggle('active')
})
</script>
</body>
</html>